<html>
  <head></head>
  <body>
    <form method="post">
      <input type="text" id="query" name="booktitle" />

      <button id="search">Search</button>

    </form>

	<a href="/add"><b>ADD</b> a book to the library</a><br>
	<a href="/remove"><b>REMOVE</b> a book from the library</a><br>

  </body>
</html>
